<div class="jumbotron">
  <h1>About Courgar Golf</h1>
</div>

<h1>About Cougar Golf</h1>

<h3>Why choose The Cougar Golf Academy?</h3>
<ol>
  <li>
    <p>
      Great Instruction: Campers will receive instruction from top Collegiate Coaches, Collegiate Players, and High School Coaches
    </p>
  </li>
  <li>
    <p>
      Advance Technology: Campers will be videoed with High Definition Cameras and will receive full swing, short game, and putting analysis.
    </p>
  </li>
  <li>
    <p>
      Learn new techniques for player development: Campers will leave with individual game plans for player development which will include Aimpoint Green Reading Techniques, Short Game Development, and TPI Fitness.
    </p>
  </li>
  <li>
    <p>
      Great gift for the avid Seattle Golf Fan.
    </p>
  </li>
  <li>
    <p>
      The Cougar Golf Academy Day Camp is held at the exclusive Golf Club of Seattle.
    </p>
  </li>
</ol>
