<div class="jumbotron">
  <h1>Courgar Golf Roster</h1>
</div>

<select class="categoryOption" (change)="onChange($event.target.value)" class="btn btn-info">
    <option value="allPlayers">All Players</option>
    <option value="topTen">Top Players</option>
</select>

<div class="player-card">
  <div *ngFor="let player of players | async | ranking:filterByRank" class="panel panel-default">
    <div class="panel-body">
      <h3 (click)="goToDetailPage(player)">Player: {{player.name}}</h3>
      <h4>Ranking: {{player.rank}}</h4>
      <div *ngIf="currentRoute === '/admin'">
        <h4>Handicap: {{player.handicap}}</h4>
        <h4>Earnings: $ {{player.earnings}}</h4>
        <hr>
        <app-edit-player [selectedPlayer]="player"></app-edit-player>
      </div>
    </div>
  </div>
</div>
