<h4>Edit Player</h4>

<label>New Player Name:</label>
<input [(ngModel)]="selectedPlayer.name">
<br>

<label>New Player Rank:</label>
<input [(ngModel)]="selectedPlayer.rank">
<br>

<label>New Player Handicap:</label>
<input [(ngModel)]="selectedPlayer.handicap">
<br>

<label>New Player Earnings:</label>
<input [(ngModel)]="selectedPlayer.earnings">
<br>

<label>New Player Image:</label>
<input [(ngModel)]="selectedPlayer.image">

<button class="btn btn-warning" (click)="beginUpdatingPlayer(selectedPlayer)">Update</button>
<button class="btn btn-danger" (click)="beginDeletingPlayer(selectedPlayer)">Delete</button>
